/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
  }
  
  h1, h2 {
    color: #2c3e50;
  }
  
  /* Encabezado */
  .header {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Imagen de la planta */
  .plant-image {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .plant-image img {
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Detalles de la planta */
  .plant-details {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .plant-details p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .plant-details h2 {
    margin-bottom: 10px;
    color: #ff5722;
  }
  
  /* Botón de regreso */
  .back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #e64a19;
  }
  
  /* Pie de página 
  .footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
  }*/

  /* Galería de imágenes */
